@using FufosFrontend.Components.Base
@using FufosEntities.Entities
@using Fufos.Globals.Enums

@inherits BaseFormComponent<Category>

<!-- Este es el formulario para las categorias de los platos -->
<!-- Sólo tiene el nombre -->

<div class="d-flex flex-column w-50">
    <RadzenLabel Text="Nombre" />
    <RadzenTextBox @bind-Value="@Entity.Name" Disabled="@(ViewType == ViewType.Detail)" />
    <ValidationMessage For="@(() => @Entity.Name)" />
</div>
